<header class="header-section d-none d-xl-block">
    <div class="header-wrapper">
        <!-- Start Header Top -->
        <div class="header-top header-top-bg--black section-fluid">
            <div class="container">
                <div class="col-12 d-flex align-items-center justify-content-between">
                    <div class="header-top-left">
                        <div
                            class="header-top-contact header-top-contact-color--white header-top-contact-hover-color--green">
                            <a href="tel:0123456789" class="icon-space-right"><i class="icon-call-in"></i>8152010307</a>
                            <a href="mailto:demo@example.com" class="icon-space-right"><i
                                    class="icon-envelope"></i>gadgetstore@gmail.com.com</a>
                        </div>
                    </div>
                    <div class="header-top-right">
                        <div
                            class="header-top-user-link header-top-user-link-color--white header-top-user-link-hover-color--green">
                            <a href="/cart">Cart</a>
                            <a href="/orders">Orders</a>
                            <a href="/profile">Profile</a>
                            {{#if User}}
                            <a href="/logout">Logout</a>
                            {{else}}
                            <a href="/login">Login</a>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Top -->
        <!-- Start Header Bottom -->
        <div class="header-bottom header-bottom-color--green section-fluid sticky-header sticky-color--white"
            style="background-color: black;">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex align-items-center justify-content-between">
                        <!-- Start Header Logo -->
                        <div class="header-logo">
                            <div class="logo">
                                <a href="/"><img src="/Users/images/logo/logo_white.png" alt=""></a>
                            </div>
                        </div>
                        <!-- End Header Logo -->

                        <!-- Start Header Main Menu -->
                        <div class="main-menu menu-color--black menu-hover-color--green">
                            <nav>
                                <ul>
                                    <li class="has-dropdown">
                                        <a class="active main-menu-link" href="/">Home </a>
                                        <!-- Sub Menu -->
                                        {{!-- <ul class="sub-menu">
                                            <li><a href="index.html">Home 1</a></li>
                                            <li><a href="index-2.html">Home 2</a></li>
                                            <li><a href="index-3.html">Home 3</a></li>
                                            <li><a href="index-4.html">Home 4</a></li>
                                        </ul> --}}
                                    </li>
                                    <li class="has-dropdown has-megaitem">
                                        <a href="/shop">Shop </a>
                                        <!-- Mega Menu -->
                                        {{!-- <div class="mega-menu">
                                            <ul class="mega-menu-inner">
                                                <!-- Mega Menu Sub Link -->
                                                <li class="mega-menu-item">
                                                    <a href="#" class="mega-menu-item-title">Shop Layouts</a>
                                                    <ul class="mega-menu-sub">
                                                        <li><a href="shop-grid-sidebar-left.html">Grid Left
                                                                Sidebar</a></li>
                                                        <li><a href="shop-grid-sidebar-right.html">Grid Right
                                                                Sidebar</a></li>
                                                        <li><a href="shop-full-width.html">Full Width</a></li>
                                                        <li><a href="shop-list-sidebar-left.html">List Left
                                                                Sidebar</a></li>
                                                        <li><a href="shop-list-sidebar-right.html">List Right
                                                                Sidebar</a></li>
                                                    </ul>
                                                </li>
                                                <!-- Mega Menu Sub Link -->
                                                <li class="mega-menu-item">
                                                    <a href="#" class="mega-menu-item-title">Other Pages</a>
                                                    <ul class="mega-menu-sub">
                                                        <li><a href="cart.html">Cart</a></li>
                                                        <li><a href="empty-cart.html">Cart</a></li>
                                                        <li><a href="wishlist.html">Wishlist</a></li>
                                                        <li><a href="compare.html">Compare</a></li>
                                                        <li><a href="checkout.html">Checkout</a></li>
                                                        <li><a href="login.html">Login</a></li>
                                                        <li><a href="my-account.html">My Account</a></li>
                                                    </ul>
                                                </li>
                                                <!-- Mega Menu Sub Link -->
                                                <li class="mega-menu-item">
                                                    <a href="#" class="mega-menu-item-title">Product Types</a>
                                                    <ul class="mega-menu-sub">
                                                        <li><a href="product-details-default.html">Product
                                                                Default</a></li>
                                                        <li><a href="product-details-variable.html">Product
                                                                Variable</a></li>
                                                        <li><a href="product-details-affiliate.html">Product
                                                                Referral</a></li>
                                                        <li><a href="product-details-group.html">Product Group</a>
                                                        </li>
                                                        <li><a href="product-details-single-slide.html">Product
                                                                Slider</a></li>
                                                    </ul>
                                                </li>
                                                <!-- Mega Menu Sub Link -->
                                                <li class="mega-menu-item">
                                                    <a href="#" class="mega-menu-item-title">Product Types</a>
                                                    <ul class="mega-menu-sub">
                                                        <li><a href="product-details-tab-left.html">Product Tab
                                                                Left</a></li>
                                                        <li><a href="product-details-tab-right.html">Product Tab
                                                                Right</a></li>
                                                        <li><a href="product-details-gallery-left.html">Product
                                                                Gallery Left</a></li>
                                                        <li><a href="product-details-gallery-right.html">Product
                                                                Gallery Right</a></li>
                                                        <li><a href="product-details-sticky-left.html">Product
                                                                Sticky Left</a></li>
                                                        <li><a href="product-details-sticky-right.html">Product
                                                                Sticky right</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                            <div class="menu-banner">
                                                <a href="#" class="menu-banner-link">
                                                    <img class="menu-banner-img"
                                                        src="/Users/images/banner/menu-banner.jpg" alt="">
                                                </a>
                                            </div>
                                        </div> --}}
                                    </li>
                                    {{!-- <li class="has-dropdown">
                                        <a href="blog-single-sidebar-left.html">Blog <i
                                                class="fa fa-angle-down"></i></a>
                                        <!-- Sub Menu -->
                                        <ul class="sub-menu">
                                            <li><a href="blog-grid-sidebar-left.html">Blog Grid Sidebar left</a>
                                            </li>
                                            <li><a href="blog-grid-sidebar-right.html">Blog Grid Sidebar Right</a>
                                            </li>
                                            <li><a href="blog-full-width.html">Blog Full Width</a></li>
                                            <li><a href="blog-list-sidebar-left.html">Blog List Sidebar Left</a>
                                            </li>
                                            <li><a href="blog-list-sidebar-right.html">Blog List Sidebar Right</a>
                                            </li>
                                            <li><a href="blog-single-sidebar-left.html">Blog Single Sidebar left</a>
                                            </li>
                                            <li><a href="blog-single-sidebar-right.html">Blog Single Sidebar
                                                    Right</a></li>
                                        </ul>
                                    </li> --}}
                                    <li class="has-dropdown">
                                        <a href="#">Categories <i class="fa fa-angle-down"></i></a>
                                        <!-- Sub Menu -->

                                        <ul class="sub-menu">
                                            {{#each category}}
                                            <li><a href="/shop/{{categoryName}}">{{categoryName}}</a></li>
                                            {{/each}}
                                        </ul>
                                    </li>
                                    {{!-- <li>
                                        <a href="about-us.html">About Us</a>
                                    </li>
                                    <li>
                                        <a href="contact-us.html">Contact Us</a>
                                    </li> --}}
                                </ul>
                            </nav>
                        </div>
                        <!-- End Header Main Menu Start -->

                        <!-- Start Header Action Link -->
                        <ul class="header-action-link action-color--black action-hover-color--green">

                            <li>
                                <a href="#offcanvas-wishlish" class="offcanvas-toggle">
                                    <i class="icon-heart"></i>
                                    {{!-- <span class="item-count">3</span> --}}
                                </a>
                            </li>
                            <li>
                                <a href="/cart">
                                    <i class="icon-bag"></i>
                                    {{#if User}}
                                    <span class="item-count">{{count}}</span>
                                    {{/if}}
                                </a>
                            </li>
                            {{!-- <li>
                                <a data-mdb-toggle="collapse" data-mdb-target="#navbarNav">
                                    <i class="icon-menu"></i>
                                </a>
                            </li> --}}
                        </ul>
                        <!-- End Header Action Link -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Bottom -->
    </div>
</header>
<!-- Start Mobile Header -->
<div class="mobile-header  mobile-header-bg-color--black section-fluid d-lg-block d-xl-none">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-items-center justify-content-between">
                <!-- Start Mobile Left Side -->
                <div class="mobile-header-left">
                    <ul class="mobile-menu-logo">
                        <li>
                            <a href="/">
                                <div class="logo">
                                    <img src="Users/images/logo/logo_white.png" alt="">
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Mobile Left Side -->

                <!-- Start Mobile Right Side -->
                <div class="mobile-right-side">
                    <ul class="header-action-link action-color--white action-hover-color--pink">

                        <li>
                            <a href="/wishlist">
                                <i class="icon-heart"></i>
                            </a>
                        </li>
                        <li>
                            <a href="/cart">
                                <i class="icon-bag"></i>
                                {{#if User}}
                                <span class="item-count">{{count}}</span>
                                {{/if}} </a>
                        </li>
                        <li>
                            <a href="/profile">
                                <i class="icon-user"></i>
                                {{!-- <span class="item-count">3</span> --}}
                            </a>
                        </li>
                        <li>
                            <a data-mdb-toggle="collapse" data-mdb-target="#navbarNav">
                                <i class="icon-menu"></i>
                            </a>

                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Mobile Right Side -->
            </div>
        </div>
    </div>
</div>
<!-- End Mobile Header -->

<!--  Start Offcanvas Mobile Menu Section -->
<div id="navbarNav" class="collapse offcanvas offcanvas-rightside offcanvas-mobile-menu-section">
    <!-- Start Offcanvas Header -->
    <div class="offcanvas-header text-right">

        <a data-mdb-toggle="collapse" data-mdb-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"><i
                class="ion-android-close"></i></a>
    </div> <!-- End Offcanvas Header -->
    <!-- Start Offcanvas Mobile Menu Wrapper -->
    <div class="offcanvas-mobile-menu-wrapper">
        <!-- Start Mobile Menu  -->
        <div class="mobile-menu-bottom">
            <!-- Start Mobile Menu Nav -->
            <div class="offcanvas-menu">

                <ul>
                    <li>
                        <a href="/"><span>Home</span></a>

                    </li>
                    <li>
                        <a href="/shop"><span>Shop</span></a>
                    </li>

                    <li>
                        <a href="#">category</a>
                        <ul class="mobile-sub-menu">
                            {{#each category}}
                            <li><a href="/shop/{{categoryName}}">{{categoryName}}</a></li>
                            {{/each}}
                        </ul>
                    </li>


                    <li>
                        <a href="/cart">Cart</a>
                    </li>

                    </li>
                    <li>
                        <a href="/wishlist">Wishlist</a>
                    </li>
                    <li>
                        <a href="/orders">Orders</a>

                    </li>
                    <li><a href="/profile">Profile</a></li>
                    {{#if User}}
                    <li> <a href="/logout">Logout</a></li>
                    {{else}}
                    <li> <a href="/login">Login</a></li>
                    {{/if}}
                </ul>
            </div> <!-- End Mobile Menu Nav -->
        </div> <!-- End Mobile Menu -->

        <!-- Start Mobile contact Info -->
        <div class="mobile-contact-info">


            <address class="address">

                <span>Call Us: 0123456789, 0123456789</span>
                <span>Email: gadgetstore@gmail.com</span>
            </address>

            <ul class="social-link">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>

        </div>
        <!-- End Mobile contact Info -->

    </div> <!-- End Offcanvas Mobile Menu Wrapper -->
</div> <!-- ...:::: End Offcanvas Mobile Menu Section:::... -->

<!-- Start Offcanvas Search Bar Section -->
<div id="search" class="search-modal">
    <button type="button" class="close">×</button>
    <form>
        <input type="search" placeholder="type keyword(s) here" />
        <button type="submit" class="btn btn-lg btn-pink">Search</button>
    </form>
</div>
<!-- End Offcanvas Search Bar Section -->

<!-- Offcanvas Overlay -->
<div class="offcanvas-overlay"></div>