<div class="hero-slider-section">
    <!-- Slider main container -->
    <div class="hero-slider-active swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Start Hero Single Slider Item -->
            {{#each BannerData}}
            <div class="hero-single-slider-item swiper-slide">
                <!-- Hero Slider Image -->
                <div class="hero-slider-bg">
                    <img src="images/banners/{{image}}" alt="">
                </div>
                <!-- Hero Slider Content -->
                <div class="hero-slider-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto">
                                <div class="hero-slider-content">
                                    <h4 class="subtitle">{{Title}}</h4>
                                    <h1 style="width:40%" class="title">{{subtitle}}</h1>
                                    <a href="/shop" class="btn btn-lg btn-pink">shop now </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End Hero Single Slider Item -->
            {{/each}}
            <!-- Start Hero Single Slider Item -->
            {{!-- <div class="hero-single-slider-item swiper-slide">
                <!-- Hero Slider Image -->
                <div class="hero-slider-bg">
                    <img src="Users/images/hero-slider/home-3/hero-slider-2.jpg" alt="">
                </div>
                <!-- Hero Slider Content -->
                <div class="hero-slider-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto">
                                <div class="hero-slider-content">
                                    <h4 class="subtitle">New collection</h4>
                                    <h1 class="title">Best Of HiFi <br> Loud Speaker</h1>
                                    <a href="/shop" class="btn btn-lg btn-pink">shop now </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End Hero Single Slider Item --> --}}
        </div>

        <!-- If we need pagination -->
        <div class="swiper-pagination active-color-pink"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev d-none d-lg-block"></div>
        <div class="swiper-button-next d-none d-lg-block"></div>
    </div>
</div>
<!-- End Hero Slider Section-->

<!-- Start Service Section -->
<div class="service-promo-section section-top-gap-100">
    <div class="service-wrapper">
        <div class="container">
            <div class="row">
                {{#each category}}
                <!-- Start Service Promo Single Item -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="service-promo-single-item" data-aos="fade-up" data-aos-delay="0">
                        <a href="/shop/{{categoryName}}">
                            <div class="image ">
                                <img class="img-fluid" src="/images/categories/{{image}}" alt="">
                            </div>
                        </a>
                        <div class="content">
                            <a href="/shop/{{categoryName}}">
                                <h6 class="title">{{categoryName}}</h6>
                            </a>
                            <p>Get 10% cash back, free shipping, free returns, and more at 1000+ top retailers!</p>
                        </div>
                    </div>
                </div>

                {{/each}}
            </div>
        </div>
    </div>
</div>
<!-- End Service Section -->

<!-- Start Banner Section -->
<div class="banner-section section-top-gap-100">
    <div class="banner-wrapper clearfix">
        <!-- Start Banner Single Item -->
        <a href="/shop">
            <div class="banner-single-item banner-style-7 banner-animation banner-color--green float-left"
                data-aos="fade-up" data-aos-delay="0">
                <div class="image">
                    <img class="img-fluid" src="Users/images/banner/banner-style-7-img-1.jpg" alt="">
                </div>
            </div>
        </a>
        <!-- End Banner Single Item -->
        <!-- Start Banner Single Item -->
        <a href="/shop">
            <div class="banner-single-item banner-style-7 banner-animation banner-color--green float-left"
                data-aos="fade-up" data-aos-delay="200">
                <div class="image">
                    <img class="img-fluid" src="Users/images/banner/banner-style-7-img-2.jpg" alt="">
                </div>
            </div>
        </a>
        <!-- End Banner Single Item -->
        <!-- Start Banner Single Item -->
        <a href="/shop">
            <div class="banner-single-item banner-style-7 banner-animation banner-color--green float-left"
                data-aos="fade-up" data-aos-delay="400">
                <div class="image">
                    <img class="img-fluid" src="Users/images/banner/banner-style-7-img-3.jpg" alt="">
                </div>
            </div>
        </a>
        <!-- End Banner Single Item -->
    </div>
</div>
<!-- End Banner Section -->

<!-- Start Product Default Slider Section -->
<div class="product-default-slider-section section-top-gap-100 section-fluid">
    <!-- Start Section Content Text Area -->
    <div class="section-title-wrapper" data-aos="fade-up" data-aos-delay="0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-content-gap">
                        <div class="secton-content">
                            <h3 class="section-title">the New arrivals</h3>
                            <p>Preorder now to receive exclusive deals & gifts</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Section Content Text Area -->
    <div class="product-wrapper" data-aos="fade-up" data-aos-delay="200">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="product-slider-default-2rows default-slider-nav-arrow">
                        <!-- Slider main container -->
                        <div class="swiper-container product-default-slider-4grid-2row">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                {{#each product}}
                                <!-- Start Product Default Single Item -->
                                <div class="product-default-single-item product-color--pink swiper-slide">
                                    <div class="image-box">
                                        <a href="/product/{{_id}}" class="image-link">

                                            <img src="/images/products/{{image.[0]}}" alt="">
                                            <img src="/images/products/{{image.[1]}}" alt="">
                                        </a>

                                        <div class="action-link">
                                            <div class="action-link-left">
                                                <a href="/add-to-cart/{{_id}}">Add to
                                                    Cart</a>
                                            </div>
                                            <div class="action-link-right">
                                                <a href="/wishlist"><i class="icon-heart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="content-left">
                                            <h6 class="title"><a href="/product/{{_id}}">{{productname}}</a></h6>

                                            <ul class="review-star">
                                                <li class="fill"><i class="ion-android-star"></i></li>
                                                <li class="fill"><i class="ion-android-star"></i></li>
                                                <li class="fill"><i class="ion-android-star"></i></li>
                                                <li class="fill"><i class="ion-android-star"></i></li>
                                                <li class="empty"><i class="ion-android-star"></i></li>
                                            </ul>
                                        </div>
                                        <div class="content-right">
                                            <span class="price">{{price}}</span>
                                        </div>

                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Product Default Slider Section -->

<!-- Start Banner Section -->
<div class="banner-section section-top-gap-100">
    <div class="banner-wrapper clearfix">
        <!-- Start Banner Single Item -->
        <a href="/shop">
            <div class="banner-single-item banner-style-8 banner-animation banner-color--green float-left"
                data-aos="fade-up" data-aos-delay="0">
                <div class="image">
                    <img class="img-fluid" src="Users/images/banner/banner-style-8-img-1.jpg" alt="">
                </div>
            </div>
        </a>
        <!-- End Banner Single Item -->
        <!-- Start Banner Single Item -->
        <a href="/shop">
            <div class="banner-single-item banner-style-8 banner-animation banner-color--green float-left"
                data-aos="fade-up" data-aos-delay="200">
                <div class="image">
                    <img class="img-fluid" src="Users/images/banner/banner-style-8-img-2.jpg" alt="">
                </div>
            </div>
        </a>
        <!-- End Banner Single Item -->
    </div>
</div>
<!-- End Banner Section -->

<!-- Start Product Default Slider Section -->
<div class="product-default-slider-section section-fluid section-inner-bg">
    <!-- Start Section Content Text Area -->
    <div class="section-title-wrapper" data-aos="fade-up" data-aos-delay="0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-content-gap">
                        <div class="secton-content">
                            <h3 class="section-title">BEST SELLERS</h3>
                            <p>Add our best sellers to your weekly lineup.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Section Content Text Area -->
    <div class="product-wrapper" data-aos="fade-up" data-aos-delay="0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="product-slider-default-1row default-slider-nav-arrow">
                        <!-- Slider main container -->
                        <div class="swiper-container product-default-slider-4grid-1row">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                {{#each product}}
                                <div class="product-default-single-item product-color--pink swiper-slide">
                                    <div class="image-box">
                                        <a href="/product/{{_id}}" class="image-link">

                                            <img src="/images/products/{{image.[0]}}" alt="">
                                            <img src="/images/products/{{image.[1]}}" alt="">
                                        </a>
                                        <div class="tag">
                                            <span>sale</span>
                                        </div>
                                        <div class="action-link">
                                            <div class="action-link-left">
                                                <a href="/add-to-cart/{{_id}}">Add to
                                                    Cart</a>
                                            </div>
                                            <div class="action-link-right">
                                                <a href="/wishlist"><i class="icon-heart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="content-left">
                                            <h6 class="title"><a href="/product/{{_id}}">{{productname}}</a></h6>
                                            <ul class="review-star">
                                                <li class="fill"><i class="ion-android-star"></i></li>
                                                <li class="fill"><i class="ion-android-star"></i></li>
                                                <li class="fill"><i class="ion-android-star"></i></li>
                                                <li class="fill"><i class="ion-android-star"></i></li>
                                                <li class="empty"><i class="ion-android-star"></i></li>
                                            </ul>
                                        </div>
                                        <div class="content-right">
                                            <span class="price">{{price}}</span>
                                        </div>

                                    </div>
                                </div>

                                {{/each}}
                            </div>
                        </div>
                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>